/* here you can put your own css to customize and override the theme */
table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc {
	background : none;
}
.error-container {
    color: #ed6b75;
}
.noneleftpadding{
    padding-left:0px !important;
}
.nonerightpadding{
    padding-right:0px !important;
}