@using tms_mka_v2.Models;
@model tms_mka_v2.Models.SalesOrderKontrak
@Html.HiddenFor(model => model.strListTruck)
<div class="portlet light">
    <div class="portlet-title">
        <div class="caption font-green-sharp">
            <span class="caption-subject"> Truk </span>
        </div>
        <div class="tools">
            <a href="" class="collapse"> </a>
        </div>
        <div class="actions">
            <a href="#ModalMasterTruk" data-toggle="modal" class="btn btn-circle btn-default">
                <i class="fa fa-plus"></i> Add
            </a>
            <a href="#modalSo" data-toggle="modal" class="btn btn-circle btn-default">
                 Import
            </a>
        </div>
    </div>
    <div class="portlet-body">
        <div id="GirdItemTruk"></div>
    </div>
</div>

<div id="modalSo" class="modal fade bs-modal-full" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-full">
        <div id="modalForm" class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">List Sales Order Kontrak</h4>
            </div>
            <div class="modal-body">
                <div id="GridSO"></div>
            </div>
        </div>
    </div>
</div>

<div id="modalDetailTruck" class="modal fade bs-modal-full" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-full">
        <div id="modalForm" class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Detail Truk</h4>
            </div>
            <div class="modal-body">
                <div id="GridDetailSo"></div>
            </div>
        </div>
    </div>
</div>

<div id="ModalMasterTruk" class="modal fade bs-modal-full"  role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-full">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            </div>
            <div class="modal-body">
                <div id="GridMasterTruk"></div>
            </div>
        </div>
    </div>
</div>

<div id="ModalDriver" class="modal fade bs-modal-lg" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div id="modalForm" class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Driver</h4>
            </div>
            <div class="modal-body">
                <span id="notif" style="display:none;"></span>
                <div id="appendto" style="text-align: center;"></div>
                <div class="row">
                    <input type="hidden" id="StatusDriver1Item" />
                    <input type="hidden" id="StatusDriver2Item" />
                    <div class="col-md-6">
                        <div class="portlet light">
                            <div class="portlet-title">
                                <div class="caption font-green-sharp">
                                    <span class="caption-subject"> Driver 1 </span>
                                </div>
                            </div>
                            <div class="portlet-body">
                                <input type="hidden" id="IdDriver1Item" />
                                <div class="form-group">
                                    <label class="control-label col-md-4">ID Driver</label>
                                    <div class="col-md-8">
                                        <div class="input-group input-group-sm">
                                            <input id="KodeDriver1Item" class="form-control" readonly />
                                            <span class="input-group-btn">
                                                <button type="button" class="btn red" onclick="clearDriver(1)"><i class="glyphicon glyphicon-remove"></i></button>
                                                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#ModalMasterDriver" onclick="caller = 1;">Browse</button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4">Nama Driver</label>
                                    <div class="col-md-8">
                                        <input id="NamaDriver1Item" class="form-control" readonly />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="portlet light">
                            <div class="portlet-title">
                                <div class="caption font-green-sharp">
                                    <span class="caption-subject"> Driver 2 </span>
                                </div>
                            </div>
                            <div class="portlet-body">
                                <input type="hidden" id="IdDriver2Item" />
                                <div class="form-group">
                                    <label class="control-label col-md-4">ID Driver</label>
                                    <div class="col-md-8">
                                        <div class="input-group input-group-sm">
                                            <input id="KodeDriver2Item" class="form-control" readonly />
                                            <span class="input-group-btn">
                                                <button type="button" class="btn red" onclick="clearDriver(2)"><i class="glyphicon glyphicon-remove"></i></button>
                                                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#ModalMasterDriver" onclick="caller = 2;">Browse</button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4">Nama Driver</label>
                                    <div class="col-md-8">
                                        <input id="NamaDriver2Item" class="form-control" readonly />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm " data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-sm green" onclick="SaveDriver()">Submit</button>
            </div>
        </div>
    </div>
</div>

<div id="ModalMasterDriver" class="modal fade bs-modal-full" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-full">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            </div>
            <div class="modal-body">
                <div id="GridMasterDriver"></div>
            </div>
        </div>
    </div>
</div>